@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.scrollbar-rounded {
    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(152, 151, 151, 0.75);
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}
/* Tùy chỉnh thanh cuộn cho Chrome, Safari */
/*.ant-rate-star {*/
/*    font-size: 100px; !* Kích thước của ngoại sao *!*/
/*}*/
.product-row {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}

.slide-next {
    transform: translateX(-100%);
}

.slide-prev {
    transform: translateX(100%);
}


.slide-enter {
    opacity: 0;
    transform: translateX(100%);
}

.slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
}

.slide-exit {
    opacity: 1;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
}


.transition-all {
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    overflow: hidden;
}

.transition-all > div {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}