@import url("https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,900&family=Nunito:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --tw-color-primary: #f36f24;
}

*:focus-visible {
  outline: none;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 1000;
}

.scrollbar-rounded {
  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(152, 151, 151, 0.75);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}

.slide-next {
  transform: translateX(-100%);
}

.slide-prev {
  transform: translateX(100%);
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition:
    opacity 500ms,
    transform 500ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 500ms,
    transform 500ms;
}

.transition-all {
  transition:
    max-height 1s ease-in-out,
    opacity 1s ease-in-out;
  overflow: hidden;
}

.transition-all > div {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box {
  width: 400px;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: rgb(58, 58, 58);
}

.container .content {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.container .content .col {
  display: flex;
  flex-direction: column;
}

.container .content .in-col:first-child:not(.flex .in-col:first-child) {
  color: white;
  font-size: 22px;
}

.container .content .in-col:not(.col, .column .in-col:first-child) {
  color: rgb(136, 136, 136);
  text-align: left;
  margin-bottom: 10px;
}

.container .content .col:first-child {
  gap: 25px;
}

.container .content .col:first-child .flex {
  display: flex;
  gap: 50px;
}

.container .content .col:first-child .flex .col-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .content .col:first-child .flex .col-info .in-col {
  font-size: 14px;
  text-align: left;
}

.container .content .col:first-child .flex .col-info span {
  color: white;
  font-size: 17px;
}

.container .content .col .column:first-child {
  margin-right: 50px;
}

.container .content .col .column .in-col:first-child {
  margin-bottom: 25px;
}

.container .content .col .column .in-col:hover {
  color: #ff6a00;
  cursor: pointer;
}

.container .content .col .column .in-col:hover {
  color: #ff6a00;
  cursor: pointer;
}

.container .content .col .column .in-col:not(.in-col:first-child) {
  margin-bottom: 12px;
}

.container .content .col:last-child {
  gap: 15px;
}

.container .content .col:last-child .email {
  display: flex;
}

.container .content .col:last-child .email input {
  width: 300px;
  height: 40px;
  font-size: 17px;
  color: white;
  background-color: rgb(76, 76, 76);
  padding-left: 10px;
  border: 0;
  outline: 0;
}

.container .content .col:last-child .email button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: #f36f24;
  padding-left: 10px;
  border: 0;
  outline: 0;
  text-align: center;
  margin-left: -30px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.container .content .col:last-child .social {
  display: flex;
  gap: 20px;
}

.container .content .col:last-child .social img {
  width: 40px;
  cursor: pointer;
}

.content-foot {
  background-color: rgb(43, 43, 43);
}

.content-foot .foot-text {
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
}

.content-foot .container .in-col {
  color: rgb(136, 136, 136);
}

.content-foot .container .in-col span {
  color: white;
  font-weight: bold;
}

.content-foot .container .pay {
  display: flex;
  gap: 20px;
}

.content-foot .container .pay img {
  width: 70px;
  height: 40px;
  object-fit: contain;
  background-color: white;
  padding: 10px 5px;
}

.pl {
  margin: auto;
  width: 12em;
  height: 12em;
}

.pl__drop,
.pl__drop-inner,
.pl__pan,
.pl__ring,
.pl__shadow {
  animation: pan 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.pl__drop {
  transform-origin: 13px 60px;
}

.pl__drop-inner {
  animation-timing-function: cubic-bezier(0.33, 0.84, 0.67, 0.84);
}

.pl__drop--1 {
  animation-name: drop-1;
}

.pl__drop--1 .pl__drop-inner {
  animation-name: drop-1-inner;
}

.pl__drop--2 {
  animation-name: drop-2;
}

.pl__drop--2 .pl__drop-inner {
  animation-name: drop-2-inner;
}

.pl__drop--3 {
  animation-name: drop-3;
  transform-origin: 67px 72px;
}

.pl__drop--3 .pl__drop-inner {
  animation-name: drop-3-inner;
}

.pl__drop--4 {
  animation-name: drop-4;
  transform-origin: 67px 72px;
}

.pl__drop--4 .pl__drop-inner {
  animation-name: drop-4-inner;
}

.pl__drop--5 {
  animation-name: drop-5;
  transform-origin: 67px 72px;
}

.pl__drop--5 .pl__drop-inner {
  animation-name: drop-5-inner;
}

.pl__pan {
  transform-origin: 36px 74px;
  color: #a6a3a3;
}

.pl__ring {
  animation-name: flip-ring;
}

.pl__shadow {
  animation-name: pan-shadow;
  transform-origin: 36px 124.5px;
}

@keyframes drop-1 {
  from {
    animation-timing-function: steps(1, end);
    transform: translate(0, 0);
    visibility: hidden;
  }
  30% {
    animation-timing-function: linear;
    transform: translate(0, 0);
    visibility: visible;
  }
  50%,
  to {
    transform: translate(-6px, 0);
  }
}

@keyframes drop-1-inner {
  from,
  30% {
    fill: hsl(223, 10%, 70%);
    transform: translate(0, 0);
  }
  50%,
  to {
    fill: hsla(223, 10%, 70%, 0);
    transform: translate(0, -27px);
  }
}

@keyframes drop-2 {
  from {
    animation-timing-function: steps(1, end);
    transform: translate(0, 0);
    visibility: hidden;
  }
  30% {
    animation-timing-function: linear;
    transform: translate(0, 0);
    visibility: visible;
  }
  50%,
  to {
    transform: translate(-8px, 0);
  }
}

@keyframes drop-2-inner {
  from,
  30% {
    fill: hsl(223, 10%, 70%);
    transform: translate(0, 0);
  }
  50%,
  to {
    fill: hsla(223, 10%, 70%, 0);
    transform: translate(0, -9px);
  }
}

@keyframes drop-3 {
  from {
    animation-timing-function: steps(1, end);
    transform: translate(0, 0);
    visibility: hidden;
  }
  78% {
    animation-timing-function: linear;
    transform: translate(0, 0);
    visibility: visible;
  }
  98%,
  to {
    transform: translate(-24px, 0);
  }
}

@keyframes drop-3-inner {
  from,
  78% {
    fill: hsl(223, 10%, 70%);
    transform: translate(0, 0);
  }
  98%,
  to {
    fill: hsla(223, 10%, 70%, 0);
    transform: translate(0, -28px);
  }
}

@keyframes drop-4 {
  from {
    animation-timing-function: steps(1, end);
    transform: translate(0, 0);
    visibility: hidden;
  }
  78% {
    animation-timing-function: linear;
    transform: translate(0, 0);
    visibility: visible;
  }
  98%,
  to {
    transform: translate(-8px, 0);
  }
}

@keyframes drop-4-inner {
  from,
  78% {
    fill: hsl(223, 10%, 70%);
    transform: translate(0, 0);
  }
  98%,
  to {
    fill: hsla(223, 10%, 70%, 0);
    transform: translate(0, -36px);
  }
}

@keyframes drop-5 {
  from {
    animation-timing-function: steps(1, end);
    transform: translate(0, 0);
    visibility: hidden;
  }
  78% {
    animation-timing-function: linear;
    transform: translate(0, 0);
    visibility: visible;
  }
  98%,
  to {
    transform: translate(8px, 0);
  }
}

@keyframes drop-5-inner {
  from,
  78% {
    fill: hsl(223, 10%, 70%);
    transform: translate(0, 0);
  }
  98%,
  to {
    fill: hsla(223, 10%, 70%, 0);
    transform: translate(0, -32px);
  }
}

@keyframes flip-ring {
  from,
  27% {
    animation-timing-function: cubic-bezier(0.33, 0.84, 0.67, 0.84);
    stroke-dashoffset: 20;
    stroke-width: 4px;
  }
  53.5% {
    animation-timing-function: cubic-bezier(0.33, 0.16, 0.67, 0.16);
    stroke-dashoffset: -100;
    stroke-width: 10px;
  }
  80%,
  to {
    stroke-dashoffset: -220;
    stroke-width: 4px;
  }
}

@keyframes pan {
  from,
  88%,
  to {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.33, 0.16, 0.67, 0.16);
    transform: translate(-5px, 0) rotate(-30deg);
  }
  30% {
    animation-timing-function: cubic-bezier(0.33, 0.84, 0.67, 0.84);
    transform: translate(0, 0) rotate(20deg);
  }
  60%,
  78% {
    animation-timing-function: linear;
    transform: translate(0, 0) rotate(0);
  }
  81.33% {
    animation-timing-function: linear;
    transform: translate(0, 4px) rotate(0);
  }
  84.67% {
    animation-timing-function: linear;
    transform: translate(0, -2px) rotate(0);
  }
}

@keyframes pan-shadow {
  from,
  88%,
  to {
    fill: hsla(223, 10%, 50%, 0.2);
    transform: scaleX(1);
  }
  20% {
    animation-timing-function: cubic-bezier(0.33, 0.16, 0.67, 0.16);
    fill: hsla(223, 10%, 50%, 0.2);
    transform: scaleX(0.77);
  }
  30% {
    animation-timing-function: cubic-bezier(0.33, 0.84, 0.67, 0.84);
    fill: hsla(223, 10%, 50%, 0.2);
    transform: scaleX(1);
  }
  60%,
  78% {
    animation-timing-function: linear;
    fill: hsla(223, 10%, 50%, 0.2);
    transform: scaleX(1);
  }
  81.33% {
    animation-timing-function: linear;
    fill: hsla(223, 10%, 50%, 0.25);
    transform: scaleX(0.87);
  }
  84.67% {
    animation-timing-function: linear;
    fill: hsla(223, 10%, 50%, 0.225);
    transform: scaleX(1.065);
  }
}
